table, th, td{
    border: solid 2px #99979b;
    border-collapse:collapse;
}
table{
    width:100%;
    margin-top:10px;
}
th{
    font-size:20px;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
